<!DOCTYPE html>
<html lang="en">
<head>
<link rel="stylesheet" href="{{ url_for('static', filename='css/app.css') }}" />
 <meta charset="UTF-8">
 <title>My Website - About</title>
 <img src="snapchat-695629242-removebg-preview-2.png" alt="My Image"/>
</head>
<body>
 <h1>Ashleigh Palmer</h1>
 <p>hfg sf ds hfuehd fivu er hgfile sdvufhui h iuh giuhiu huih giuhfiuguh iuhg iurh giuf hiurfhljwilgjiusg huks hgiehgg oeisjgui ryiuv oijge iigoikr hgiu sptu go goie giurey o8sefi jfohy udisrkp eshg oier oes ioioi iu g goiej iug p oi gowy oplmk gof hiughdkg biu je;o ij luei hoem po iuhg o gjlofh gie grgdh giuew oi viufhg j glui giuls oj gkh ofj fvs ghia ;iohdgruhgo; idu ;i jgkuk giosd oie iug hoeposighe hgi; weggo;sd djg iudb;bviod odhfg ojiusfguyarygjv klj hfiwqw ui sih uysdg usi q hlid ial hsdh vi svfuha iuoii a fiw avfiluahf luh suxyflI AIU S HDIG IUSGH HGU oj  kuer iuhjsf iua udsf iush iu dfhis ls iug f giuuh sfu.</p>
</body>
</html>